.menuItems {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.orderPage {
	display: flex;
	justify-content: space-evenly;
}

.categoryContainer {
	display: flex;
	flex-direction: column;
}