.Landing_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;

    border: 2px solid black;
    height: 150vh;
    width: auto;
    margin: -1%
}

.Landing_Header {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    
    border: 2px solid black;
    height: 20vh;
    width: 97vw;
    margin-top: 0.5%
}

.Landing_MainContent {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

    border: 2px solid black;
    height: 101vh;
    width: 97vw;
    margin-top: 0.5%
}

.Landing_Footer {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

    border: 2px solid black;
    height: 10vh;
    width: 97vw;
    margin-top: 0.5%
}