.Home_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.RestaurantCard_Container {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    
    border: 1px solid black;
    height: 79.5vh;
}