.Navbar_Container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	background-color: #1B3022;
	height: 8vh;
    /* background-color: #1B3022; */
    /* border: 2px solid black; */
}

.Navbar_Login {
	margin-left: -50px
}

.Navbar_Login_Text {
	color: white;
	text-decoration: none;
}