.Navbar_Container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

    /* background-color and border are templates */
	/* background-color: lightblue; */
	/* border: 1px solid black; */
	height: 10vh;
}

.Navbar_Container_Logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* border: 1px solid black; */
	height: 30px;
	width: 30px;
	margin-left: 1%
}

.Navbar_Logo {
	height: 25px;
}

.Navbar_Container_Login{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	background-color: #CE4036;
	box-shadow: 1px 1px 4px grey;
	/* border: 1px solid black; */
	border-radius: 4px;
	height: 20px;
	width: 52px;
	margin-right: 1%
}

.Navbar_Container_Login_Logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* border: 1px solid black; */
	border-radius: 2px;
	height: 15px;
	width: 15px;
	margin-left: 4%
}

.Navbar_Login_Logo {
	height: 15px;
}

.Navbar_Container_Login_Text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border-left: 0.5px solid white;
	height: 15px;
	width: 35px;
	margin-left: 5%
}

.Navbar_Login_Text {
	color: white;
	font-size: 11px;
}